@import "dependencies"

.space
  &-bottom
    &-25
      margin-bottom: 25px

label
  font-size: 12px
  @include font-family('Regular')

.socials
  list-style: none
  padding: 0
  margin: 0
  font-size: 0
  .socials-item
    display: inline-block
    padding: 0
    margin: 5px
    font-size: 12px
    text-align: center
    a
      display: inline-block
      width: 30px
      height: 30px
      line-height: 30px
      box-sizing: border-box
      border-radius: 50%
      @include color-transition()
      color: $color-monochrome-3
      &:hover
        color: $color-monochrome-3
    &:hover
      &.vk
        a
          color: $color-vk
      &.facebook
        a
          color: $color-facebook
      &.twitter
        a
          color: $color-twitter
      &.pencil
        a
          color: $color-pen
      &.google-plus
        a
          color: $color-google
      &.rss
        a
          color: $color-rss
  &.border
    .socials-item
      a
        line-height: 28px
        border-style: solid
        border-width: 1px
        border-color: $color-monochrome-3
    &.bg-light
      .socials-item
        a
          border-color: 0.5 * ($color-monochrome-7 + $color-monochrome-8)
          color: $color-monochrome-6
        &:hover
          border-color: $color-monochrome-2
          a
            color: $color-monochrome-8
    &.bg-dark
      .socials-item
        a
          border-color: $color-monochrome-2
          color: $color-monochrome-4
        &:hover
          a
            color: $color-monochrome-11


.image
  display: block
  width: 100%
  height: 0
  padding-top: 100% * 3 / 4
  background-repeat: no-repeat
  background-position: 50%
  background-size: cover
  &[data-ratio='4:3']
    padding-top: 100% * 3 / 4
  &[data-ratio='8:9']
    padding-top: 100% * 9 / 8
  &[data-ratio='2:1']
    padding-top: 100% * 1 / 2
  &[data-ratio='1:1']
    padding-top: 100%

  &.round
    border-radius: 50%
    overflow: hidden

.image-wrapper
  width: 100%
  img
    width: 100%

.metadata-list
  padding-top: 12px
  padding-bottom: 12px
  @include font-family('Demi')
  &:before,
  &:after
    content: ''
    display: block
    clear: both
    height: 0
    visibility: hidden
  .metadata-item
    display: block
    float: left
    padding: 0
    color: $color-monochrome-3
    @include color-transition()
    background: transparent
    border: none
    outline: none
    font-size: 12px
    line-height: 18px
    &:not(:last-child)
      padding-right: 5px
    &:not(:first-child)
      padding-left: 5px
    em
      @include font-family('MediumItalic')
    i
      font-size: 16px
    &.category
      text-transform: uppercase
    &.link
      text-decoration: underline
      &:hover
        color: $color-blue-111
    &.likes,
    &.dislikes
      &:hover
        color: $color-monochrome-0
        text-decoration: none
    &.likes
      &.active
        color: $color-green-3
    &.dislikes
      &.active
        color: $color-red-3
    &.bookmark
      &.active
        color: #41BCFF

.tags-list
  padding: 12px 0
  @include font-family('Medium')
  list-style: none
  font-size: 12px
  line-height: 1em
  .tags-item
    display: inline-block
    padding: 4px
    border-radius: 2px
    a
      @include color-transition()
      color: $color-monochrome-6
      &:hover
        color: $color-monochrome-0
  &.bordered-items
    .tags-item
      border: 1px solid $color-monochrome-8
  &:not(.wrap)
    white-space: nowrap
    overflow: hidden
    .tags-item
      &:not(:last-child)
        margin-right: 4px
      &:not(:first-child)
        margin-left: 4px
  &.wrap
    .tags-item
      margin-bottom: 10px
      margin-right: 8px
  &, &.bg-dark
    .tags-item
      background: $color-monochrome-11
  &.bg-light
    .tags-item
      background: $color-monochrome-11 - #0c0c0c
  &.bordered-items
    .tags-item
      background: transparent

.previews
  .previews-item
    margin: 0.5 * 36px 0
    background: $color-monochrome-10
    position: relative
    .fact-checking
      position: absolute
      left: 0
      top: 0
      width: 0
      height: 0
      opacity: .75
      border-style: solid
      border-width: 35px 35px 0 0
      &.low
        border-color: $color-red-3 transparent transparent transparent
      &.medium
        border-color: $color-orange-7 transparent transparent transparent
      &.high
        border-color: $color-green-3 transparent transparent transparent
    .labels
      position: absolute
      top: 0
      left: 0
      right: 0
      padding: 0 10px
      text-align: right
    .heading
      padding: 8px 15px 0
      a
        &, &:hover
        color: inherit
        text-decoration: none
    .author
      padding: 5px 0
      font-size: 12px
      line-height: 22px
      color: $color-monochrome-6
      .author-label
        padding-left: 15px
      .author-name
        padding-right: 15px
        text-align: right
        a
          text-decoration: underline
          &, &:hover
            color: $color-blue-111
    .tags,
    .metadata
      padding-left: 15px
      padding-right: 15px
    .tags
      border-bottom: 1px solid $color-monochrome-8
  .previews-more
    .previews-more-button
      display: block
      padding: 20px
      background: $color-monochrome-10
      font-size: 11px
      line-height: 20px
      text-transform: uppercase
      text-decoration: none
      text-align: center
      cursor: pointer
      &, &:hover
        color: $color-monochrome-3
      i
        font-size: 16px
        vertical-align: middle
        padding: 0 4px 2px 0

.pairs-name-value
  margin: 40px 0 20px
  list-style: none
  padding: 0
  .pairs-name-value-item
    margin: 5px 0
    font-size: 12px
    line-height: 1em
    .name,
    .value
      line-height: 16px
      padding-top: 17px
      padding-bottom: 17px
    .name
      @include font-family('Bold')
      font-size: 11px
    .value
      padding-left: 20px
      padding-right: 60px
      &.border
        border: 1px solid $color-monochrome-9
      position: relative
      &.photo
        padding-left: 20px + 42px
        .img
          position: absolute
          top: 0
          left: 0
          height: 50px
          width: 42px
          background: no-repeat 50% 50%
          background-size: cover
      .text
        display: block
        overflow: hidden
        white-space: nowrap
        a
          text-decoration: underline
      .rating
        position: absolute
        top: 17px
        right: 0
        height: 50px
        width: 60px
        padding-left: 12px


.file
  .birthday,
  .site
    font-size: 12px
  .birthday
    margin-top: 15px
    .years-old
      margin-left: 5px
      color: $color-monochrome-7
  .file-heading
    margin: 10px 0
  .site
    a
      color: $color-blue-111
      text-decoration: underline
  .socials
    margin-top: 15px
    margin-left: -5px
  .ratings-list
    list-style: none
    padding: 50px 0 25px
    .ratings-list-item
      line-height: 28px
      font-size: 0
      .text
        @include font-family('Bold')
        font-size: 11px
        text-transform: uppercase
      .rating
        margin-left: 10px
        @include font-family('Regular')
        font-size: 14px
  .tabs-navigation

    margin-top: 20px
    @include font-family('Bold')
    font-size: 11px
    border: none
    .tabs-navigation-item
      a
        text-decoration: none
        border-radius: 0
        color: $color-blue-111
        .counters
          margin-left: 6px
          color: $color-blue-222
        &:hover
          background: transparent
      &.active
        a
          border-color: $color-monochrome-9
          color: $color-monochrome-0
          position: relative
          .counter
            color: $color-monochrome-7
          &:after
            content: ''
            position: absolute
            top: 100%
            margin-top: -2px
            left: 0
            right: 0
            height: 4px
            background: $color-monochrome-11
            z-index: 1
    &.border-around
      margin: 0
      .tabs-navigation-item
        &:not(:first-child)
          margin-left: 6px
        &:not(:last-child)
          margin-right: 6px
        &, &.active
          a
            &, &:hover
              border: 1px solid $color-monochrome-9
            &:after
              background: transparent
              height: 0
  .tabs-content
    padding: 25px 0 40px
    position: relative
    &.border
      &:before,
      &:after
        content: ''
        position: absolute
        left: -1000px
        right: -1000px
        height: 1px
        background: $color-monochrome-9
    &:before
      top: 0
    &:after
      bottom: 0
    .promises,
    .publications
      @include font-family('Meduim')
    .publications
      a
        &, &:hover
        color: $color-monochrome-3
        text-decoration: none
    .marked-list
      list-style: none
      padding: 0
      .marked-list-item
        margin-bottom: 25px
        padding-left: 25px
        position: relative
        i
          position: absolute
          left: 0
          line-height: inherit
    .pairs-name-value
      margin: 0
      .pairs-name-value-item
        margin: 5px 0 15px
    &-item
      &.matrix
        .sub-header
          margin-top: 10px
          color: $color-monochrome-7
        .matrix-chart
          padding: 20px 0
  .user-avatar
    margin-bottom: 50px
  .user-likes
    color: $color-monochrome-3
    font-size: 12px
    i
      font-size: 16px

.rating-sections
  margin-bottom: 25px
  .rating-section
    padding: 0 20px 15px 15px
    .rating-section-title
      padding: 15px 0
      .all-list
        float: right
        padding: 0 5px
        font-size: 12px
        line-height: 20px
    .rating-section-list
      list-style: none
      padding: 0
      .rating-section-list-item
        padding: 5px 0
        font-size: 14px
        line-height: 18px
        .position,
        a,
        .rating
          display: block

        .position
          float: left
          width: 15px
          margin-right: 5px
          color: $color-monochrome-1
          @include font-family('Bold')
          font-size: 11px
        a
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
          &, &:hover
            color: $color-blue-111
            text-decoration: none
        .rating
          float: right
          margin-left: 5px
          width: 37px
          color: $color-monochrome-5
  &.border
    border: 1px solid $color-monochrome-9
    .rating-section
      &:not(:last-child)
        border-bottom: 1px solid $color-monochrome-9