@import "dependencies"

.speech-generator
  display: none
  padding: 16px - 12px 18px - 12px 16px - 12px 18px
  border: 1px solid $color-monochrome-9
  font-size: 11px
  line-height: 15px
  color: $color-monochrome-9
  @include font-family('Bold')
  .speech-generator-name
    color: $color-monochrome-1
    vertical-align: text-bottom
  .speech-generator-control
    padding: 12px
    font-size: 15px
    background: transparent
    border: none
    outline: none
  .speech-generator-volume-indication
    padding: 0 4px
    color: $color-monochrome-7
    vertical-align: text-bottom
  .speech-generator-control
    &.play-pause
      color: $color-monochrome-2
  &.ready,
  &.paused
    .speech-generator-control
      &.play-pause
        .pause-icon
          display: none
  &.generation
    .speech-generator-control
      &.play-pause
        .play-icon
          display: none
  &.generation,
  &.paused
    .speech-generator-control
      &.stop,
      &.volume-up,
      &.volume-down
        color: $color-monochrome-2
    .speech-generator-volume-indication
      color: $color-monochrome-7
  &.wait
    position: relative
    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      background-color: rgba(255, 255, 255, 0.5)
      background-image: url("../images/preloader.gif")
      background-repeat: no-repeat
      background-position: 50% 50%
      background-size: auto 70%

.sphere-ico
  &.yellow
    background: #f5ec01
  &.red-dark
    background: #c0392b
  &.green-dark
    background: #34763d
  &.green
    background: #2ecc71
  &.green-light
    background: #b6da88
  &.orange
    background: $color-orange-7
  &.blue-dark
    background: #34495e
  &.blue
    background: #548fcb
  &.turkuaz
    background: #0ebfd9
  &.violet
    background: #682ab4
  &.red
    background: $color-red-7
  &.gray
    background: #7f8c8d
  &.black
    background: #232323
  &.brown
    background: #8d5608

  &.above-preview
    height: 30px
    line-height: 30px
    margin: 0 5px 10px
    padding: 0 17px
    text-align: center
    font-size: 10px
    vertical-align: middle
    &:not(.square)
      color: $color-monochrome-1
      background: $color-monochrome-11
    &.square
      width: 30px
      padding: 0
      font-size: 16px
      color: $color-monochrome-11
  &.in-filter
    display: inline-block
    margin-right: 10px
    vertical-align: top
    height: 22px
    width: 22px
    text-align: center
    line-height: 22px
    font-size: 0
    img
      display: inline-block
      width: 100%
      height: 100%


.party-logo
  display: inline-block
  margin-right: 10px
  vertical-align: top
  height: 22px
  width: 22px
  text-align: center
  font-size: 0
  line-height: 22px
  background: #e3e3e3
  img
    display: inline-block
    width: 100%
    height: 100%

.edit-box
  &.inline
    display: inline-block
    margin-right: 10px
  a
    display: block
    padding: 5px 37px 5px 10px
    height: 50px
    box-sizing: border-box
    border: 1px solid $color-monochrome-9
    text-decoration: none
    position: relative
    &:before
      content: ''
      display: inline-block
      height: 100%
      width: 0
      font-size: 0
      vertical-align: middle
    .edit-box-text
      display: inline-block
      vertical-align: middle
      color: $color-blue-111
      text-decoration: none
      font-size: 12px
      line-height: 15px
    &:hover
      .edit-box-text
        text-decoration: underline
    .edit-box-icon
      position: absolute
      right: 0
      top: 0
      height: 48px
      width: 37px
      margin-left: 3px
      line-height: 48px
      text-align: center
      color: $color-monochrome-3

.popup-container
  width: 800px
.popup
  padding: 65px 70px
  background: $color-monochrome-11
  position: relative
  .popup-close
    position: absolute
    top: 20px
    right: 15px
    font-size: 0
    button
      width: 35px
      height: 35px
      text-align: center
      font-size: 18px
      line-height: 35px
      border: none
      outline: none
      background: transparent

.form-container
  .form-heading,
  .form-sub-heading
    @include font-family('Bold')
  .form-heading
    font-size: 30px
  .form-sub-heading
    font-size: 16px
  .form-block
    margin: 35px 0
    .form-sub-block
      margin: 35px 0
    &.border-bottom
      border-bottom: 1px solid $color-monochrome-8
    .form-row
      margin: 20px 0
      &.success
        .form-label
          &.two-rows
            span
               color: $color-green-7
      &.error
        .form-label
          &.two-rows
            span
               color: $color-red-3
        .form-input
          input
            @include placeholder-color($color-red-3)
        .form-select
          select
            color: $color-red-3
            option
              color: $color-monochrome-7
    .form-label
      color: $color-monochrome-2
      font-size: 12px
      line-height: 1em
      margin: 15px 0
      @include font-family('Bold')
      &.two-rows
        margin-top: 7px
        margin-bottom: 7px
        span
          display: inline-block
          margin-top: 3px
          @include font-family('Regular')
          color: $color-monochrome-7
    .form-element
      input,
      select,
      button,
      a
        display: block
        box-sizing: border-box
        width: 100%
        padding: 0 16px
        height: 42px
        line-height: 42px
        outline: none
        border: none
        font-size: 13px
    .form-input
      input
        @include font-family('Medium')
        @include placeholder-color($color-monochrome-7)
        &[placeholder]
          text-overflow: ellipsis
        &::-moz-placeholder
          text-overflow: ellipsis
        &:-moz-placeholder
          text-overflow: ellipsis
        &:-ms-input-placeholder
          text-overflow: ellipsis
      &:not(.underline)
        input
          background: $color-monochrome-10
      &.underline
        padding-top: 7px
        input
          padding-left: 0
          padding-right: 0
          font-size: 12px
          height: 24px
          line-height: 24px
          border-bottom: 1px solid $color-monochrome-8
    .form-select
      select
        padding-right: 30px !important
        color: $color-monochrome-7
        background: $color-monochrome-10
        @include font-family('Medium')
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        background-image: url('../images/select-arrow.png')
        background-repeat: no-repeat
        background-position: calc(100% - 15px) 50%
        line-height: 1.25em
        option
          outline: none
    .form-radio
      padding-top: 7px
    .form-button
      @include font-family('Demi')
      //padding: 0 12px
      button,
      a
        display: block
        width: 100%
        text-align: center
        text-decoration: none
      &.inline
        button,
        a
          display: inline-block
          width: auto
      &.blue
        button,
        a
          color: $color-monochrome-11
          background: $color-blue-111
  .form-link
    font-size: 13px
    @include font-family('Regular')
    &, &:hover
      color: $color-blue-111
      text-decoration: underline
  .form-note
    margin-top: 5px
    margin-bottom: 10px
    color: $color-monochrome-7
    @include font-family('Medium')
    font-size: 14px
    line-height: 18px
  .form-avatar
    margin: 0 auto
    width: 100%
    height: 0
    padding-bottom: 100%
    max-width: 100px
    max-height: 100px
    background: url('../images/avatar-placeholder.png') no-repeat 50% 50%
    background-size: contain
    border-radius: 50%
    &:hover
      cursor: pointer
      background-image: url('../images/avatar-placeholder-hover.png')
