/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked,
[type="radio"]:not(:checked),
[type="radio"]:checked
  position: absolute
  left: -9999px

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label
  position: relative
  padding-left: 15px + 11px
  cursor: pointer

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label
  position: relative
  padding-left: 20px + 15px
  cursor: pointer


/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before
  content: ''
  position: absolute
  left: 0
  top: 3.5px
  width: 15px
  height: 15px
  border: 1px solid $color-monochrome-9
  background: transparent
  border-radius: 0

[type="radio"] + label:before
  content: ''
  position: absolute
  left: 0
  top: 0
  width: 20px
  height: 20px
  border-radius: 50%
  transition: all .5s

[type="radio"]:not(:checked) + label:before
  border: 1px solid $color-monochrome-9
  background: transparent

[type="radio"]:checked + label:before
  border: 1px solid transparent
  background: $color-blue-111

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after
  content: "\f00c"
  font-family: FontAwesome
  position: absolute
  top: 3.5px
  left: 2px
  font-size: 11px
  line-height: 15px
  color: $color-monochrome-2
  transition: all .5s

[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after
  content: "\f00c"
  font-family: FontAwesome
  position: absolute
  top: 0
  left: 0
  width: 20px
  height: 20px
  font-size: 8px
  line-height: 20px
  color: $color-monochrome-11
  transition: all .5s
  text-align: center

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after,
[type="radio"]:not(:checked) + label:after
  opacity: 0
  transform: scale(0)

[type="checkbox"]:checked + label:after,
[type="radio"]:checked + label:after
  opacity: 1
  transform: scale(1)

/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before,
[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before
  box-shadow: none
  border-color: #bbb
  background-color: #ddd

[type="checkbox"]:disabled:checked + label:after,
[type="radio"]:disabled:checked + label:after
  color: #999

[type="checkbox"]:disabled + label,
[type="radio"]:disabled + label
  color: #aaa

/* accessibility */
//[type="checkbox"]:checked:focus + label:before,
//[type="checkbox"]:not(:checked):focus + label:before
//  border: 2px dotted blue


///* hover style just for information */
//label:hover:before
//  border: 2px solid #4778d9!important
