@import "dependencies"

@mixin separator($width: 1px)
  border-top: $width solid $color-monochrome-3

.basic-footer
  padding: 15px 0 42px
  background: $color-monochrome-1
  color: $color-monochrome-11
  hr
    margin: 25px 0
    border-top: 1px solid $color-monochrome-3
    hr.double
      border-width: 2px
  .copyright,
  .menu-contacts,
  .socials
    &, a
      color: $color-monochrome-3
  .menu,
  .menu-contacts
    line-height: 30px
    font-size: 12px
    text-transform: uppercase
    a
      color: inherit
      &:hover
        color: inherit
  .copyright
    padding-top: 105px
    .copyright-name,
    .copyright-note
      margin: 10px 0
    .copyright-name
      font-size: 14px
    .copyright-note
      font-size: 11px
  .slogan
    padding-top: 3px
    @include font-family('Medium')
  .menu
    @include font-family('Demi')
  .search
    padding: 10px 0
    .heading
      padding: 10px 0
    .form
      padding: 15px 0
      input
        height: 42px
        padding: 0 25px
        line-height: 42px
        max-width: 230px
        border: none
        outline: none
        color: $color-monochrome-3
      font-size: 11px
  .socials-links
    padding: 5px 0 15px
  .vendor-speech-generator
    &-image
      float: left
      img
        width: 100px
    &-text
      padding-left: 110px
      font-size: 10px
      a
        color: $color-monochrome-7
        text-decoration: none