@import "dependencies"

@mixin separator($side)
  @if $side == 'left'
    border-left: 1px solid $color-monochrome-9
  @if $side == 'right'
    border-right: 1px solid $color-monochrome-9

.basic-header
  .toolbar-wrapper
    background: $color-monochrome-10
    .toolbar
      padding: 3px 0
      font-size: 12px
      color: $color-monochrome-0
      line-height: 1em * 25px/12px
      .toolbar-item
        display: inline-block
        vertical-align: middle
        //margin: 5px
      .login i,
      .search i
        font-size: 16px
      .search,
      .login
        margin: 5px 0
        padding: 0 10px
        color: $color-monochrome-1
      .langs-selector
        padding: 0 12px 0 5px
        @include separator('right')
        a
          display: inline-block
          padding: 0 10px
          line-height: 30px
          text-transform: uppercase
          text-decoration: none
          @include font-family('Medium')
          color: $color-monochrome-3
          @include color-transition()
          &.active
            color: $color-monochrome-0
            @include font-family('Bold')
            text-decoration: underline
          &:hover
            color: $color-blue-111
      .socials
        padding: 0 6px
      .search
        height: 30px
        overflow: hidden
        @include separator('left')
        @include separator('right')
        input
          width: 150px
          vertical-align: top
          margin-right: 15px
          margin-left: -150px - 15px
          padding: 0 10px
          border: none
          outline: none
          height: 30px
          line-height: 30px
        button
          padding: 5px
          height: 30px
          background: transparent
          border: none
          outline: none
          @include color-transition()
          i
            vertical-align: top
            line-height: 20px
          &:hover
            color: $color-blue-111
      .login
        button
          display: inline-block
          box-sizing: border-box
          padding: 0 5px
          line-height: 30px
          color: $color-monochrome-1
          text-decoration: none
          background: transparent
          border: none
          outline: none
          &:hover
            span
              color: $color-blue-111
          span
            @include color-transition()
  .menu
    margin: 0
    padding: 15px 0
    line-height: 45px
    font-size: 12px
    .navbar-toggle
      border-color: $color-monochrome-3
      border-radius: 0
      .icon-bar
        background-color: $color-monochrome-3
    .menu-list
      li
        &.active
          a
            color: $color-blue-111
        &:not(:last-child)
          padding: 0 25px
          @media #{$md}
            padding: 0 15px
          @media #{$sm}
            padding: 0 5px
        &:last-child
          padding: 0 0 0 25px
        a
          color: $color-monochrome-2
          @include color-transition()
          &:hover
            background: transparent
            color: $color-blue-111

body:not(.index-page)
  .basic-header
    box-shadow: 0 0 6px 1px $color-monochrome-7