@import "dependencies"

.basic-main
  margin-bottom: 90px - 18px
  .labels
    font-size: 0

  .main-slider
    height: 490px
    overflow: hidden
    color: $color-monochrome-11
    text-align: center
    position: relative
    &:hover
      .main-slider-controls
        .prev,
        .next
          opacity: 1
    .main-slider-controls
      .prev,
      .next
        @include opacity-transition()
        opacity: .1
        position: absolute
        top: 50%
        transform: translate(0, -50%)
        font-size: 36px
        width: 36px
        height: 36px
        line-height: 36px
        //@media #{$md}
        //  width: 30px
        //  height: 30px
        //  line-height: 30px
        //@media #{$sm}
        //  width: 40px
        //  height: 40px
        //  line-height: 40px
        //@media #{$xs}
        //  width: 35px
        //  height: 35px
        //  line-height: 35px
        background: transparent
        text-align: center
        color: $color-monochrome-11
        border: none
        outline: none
        z-index: 2
      .prev
        left: 100% * 36px / 1200px
      .next
        right: 100% * 36px / 1200px
      .dots
        position: absolute
        left: 0
        right: 0
        bottom: 100% * 33px / 490px
        padding: 0
        list-style: none
        text-align: center
        font-size: 0
        li
          display: inline-block
          margin: 0 4px
          button
            width: 11px
            height: 11px
            border: none
            outline: none
            border-radius: 50%
            background: $color-monochrome-5
          &.slick-active
            button
              background: $color-monochrome-11
    &, .main-slider-item
      height: 490px
      @media #{$md}
        height: 420px
      @media #{$sm}
        height: 360px
      @media #{$xs}
        height: 240px
    .main-slider-item
      background-position: 50%
      background-repeat: no-repeat
      background-size: cover
      position: relative
      &:before
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        background: rgba(0,0,0, .65)
        z-index: 1
      .header,
      .main,
      .footer
        position: absolute
        left: 100% * (150px / 1200px)
        right: 100% * (150px / 1200px)
        @media #{$md}
          left: calc(45px + 2 * 100% * (45 / 1200))
          right: calc(45px + 2 * 100% * (45 / 1200))
        @media #{$sm}
          left: calc(45px + 2 * 100% * (40 / 1200))
          right: calc(45px + 2 * 100% * (40 / 1200))
        @media #{$xs}
          left: calc(45px + 2 * 100% * (35 / 1200))
          right: calc(45px + 2 * 100% * (35 / 1200))
        z-index: 2
      .header
        top: 100% * 40px / 490px
      .main
        top: 50%
        transform: translate(0, -50%)
        .heading
          a, a:hover, a:visited, a:focus, a:active
            color: $color-monochrome-11
            text-decoration: none
      .footer
        bottom: 100% * 70px / 490px
        .metadata
          font-size: 12px
          @media #{$md}
            font-size: 11px
          @media #{$sm}
            font-size: 10px
          @media #{$xs}
            font-size: 9px
          .metadata-item
            margin: 0 1em * (7px / 12px)
            i
              color: $color-monochrome-5
              margin-right: 6px
  .columns
    margin: (78px - 42px) 0 0

.aside-section
  margin-bottom: 15px
  &.filters
    position: relative
    .filters-save
      position: absolute
      right: 0
      top: 0
      border: none
      background: transparent
      outline: none
      padding: 10px
      @include font-family('Medium')
      @include color-transition()
      &:hover
        color: $color-green-3
  .heading
    padding: 10px 20px
  &.filters
    .heading
      padding-right: 85px
  .filters-sections
    border: 1px solid $color-monochrome-9
    margin-bottom: 25px
    .filters-section
      font-size: 11px
      color: $color-monochrome-3
      .filters-section-title
        position: relative
        padding: 15px 20px
        cursor: pointer
        @include color-transition()
        text-transform: uppercase
        &:hover
          color: $color-blue-111
        .filters-section-title-controls
          position: absolute
          top: 0
          right: 0
          padding: 15px 20px
      .filters-section-list
        list-style: none
        padding: 7px 0
        &:not(.no-border)
          padding: 14px 0
          border-top: 1px solid $color-monochrome-9
        .filters-section-list-item
          padding: 5px 15px
          line-height: 22px
          label
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
      &
        .filters-section-title-controls
          .closed
            display: block
          .opened
            display: none
        .filters-section-list
          display: none
      &.opened
        .filters-section-title-controls
          .closed
            display: none
          .opened
            display: block
        .filters-section-list
          display: block
      &:not(:last-child)
        border-bottom: 1px solid $color-monochrome-9
      button
        border: none
        background: transparent
        outline: none
        &:hover
          color: $color-blue-111
          text-decoration: underline
  .subject-card
    padding: 12px 65px 12px 20px
    border: 1px solid $color-monochrome-9
    position: relative
    line-height: 22px
    a
      text-decoration: none
      &:hover
        text-decoration: underline
    .rating
      position: absolute
      top: 0
      right: 0
      width: 65px
      padding: 0 0 0 15px
      line-height: 48px
  .links-list
    padding: 0 20px
    border: 1px solid $color-monochrome-9
    list-style: none
    .links-list-item
      padding: 15px 0
      &:not(:last-child)
        border-bottom: 1px solid $color-monochrome-9
      a
        color: $color-blue-111
        text-decoration: none
        &:hover
          text-decoration: underline
  &.questions
    .questions-list
      border: 1px solid $color-monochrome-9
      padding: 0
      list-style: none
      .questions-item
        padding: 8px 20px
        &:not(:last-child)
          border-bottom: 1px solid $color-monochrome-9
        .questions-item-question
          font-size: 12px
          @include font-family('Medium')
          padding: 8px 0
        .questions-item-answers
          padding: 0
          list-style: none
          .questions-item-answers-item
            padding: 8px 0



.single-news
  .heading
    margin-bottom: 15px
  .fact-checking
    height: 2px
    margin-bottom: 20px
    &.low
      background: $color-red-3
    &.medium
      background: $color-orange-7
    &.high
      background: $color-green-3
  .source,
  .party-news
    margin: 20px 0 30px
  .source
    a
      text-decoration: none
      margin-right: 7px
    .source-logo
      display: inline-block
      height: 30px
    //.source-resource
    //  padding-right: 5px
    //  @include font-family('Regular')
    //  color: $color-blue-111
    //  text-decoration: none
    //  &:hover
    //    text-decoration: underline
    //.source-article
    //  @include font-family('Italic')
    //  color: inherit
    //  text-decoration: underline
  .party-news
    float: right
    min-width: 250px
    text-align: right
    color: $color-monochrome-3
    .party-news-logo
      display: inline-block
      height: 30px
      margin-right: 6px
  .tags
    margin: 8px 0 16px
  .metadata
    .metadata-list
      position: relative
      font-size: 0
      .metadata-item
        background: $color-monochrome-11
        position: relative
        z-index: 2
        &.padding-right
          padding-right: 20px
        &.addon
          z-index: 1
          position: absolute
          top: 50%
          right: 0
          left: 0
          transform: translate(0, -50%)
          text-align: right
          span
            padding-left: 5px
            @include font-family('MediumItalic')
            color: $color-monochrome-3
            background: $color-monochrome-11
          &:before
            content: ''
            z-index: -1
            height: 1px
            position: absolute
            left: 0
            right: 0
            top: 50%
            background: $color-monochrome-9

  &.sources
    .sources-list
      margin: 55px 0 25px
      list-style: none
      padding: 0
      .sources-list-item
        margin: 30px 0
        .header
          line-height: 25px
          color: $color-monochrome-3
          img
            float: left
            height: 25px
            margin-right: 5px
          .source-name
            display: inline-block
            margin-right: 5px
        .main
          .heading
            margin: 10px 0

.index-page
  .previews
    margin: (42px - 0.5 * 36px) 0 0


.single-news-page
  .previews
    margin-top: 64px


.politician-page,
.party-page,
.organization-page
  .previews
    .previews-heading
      margin: 60px 0 50px

.user
  &.file
    .file-heading
      margin-bottom: 30px
      font-size: 25px
      .user-name
        font-size: 15px
        color: $color-monochrome-7
    .name,
    .value
      min-height: 50px
      margin-bottom: 25px
    .name
      @include font-family('Bold')
      font-size: 11px
      .name-one-row
        line-height: 50px
      .name-first-row,
      .name-second-row
        line-height: 16px
      .name-first-row
        padding-top: 8px
      .name-second-row
        font-size: 12px
        color: $color-monochrome-7
        @include font-family('Regular')
        a
          &, &:hover
            color: $color-blue-111
            text-decoration: underline
    .value
      .value-one-row
        line-height: 50px
      .tags-list
        padding-top: 5px

.registration-page
  .registration
    .socials
      margin-top: 10px
      margin-right: -5px