@mixin color-transition($duration: .5s)
  transition: color $duration ease

@mixin opacity-transition($duration: 1s)
  transition: opacity $duration ease

@mixin font-face($family, $path, $svg, $weight: normal, $style: normal)
  @font-face
    font-family: $family
    src: url('#{$path}.eot')
    src: url('#{$path}.eot?#iefix') format('embedded-opentype'), url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'), url('#{$path}.svg##{$svg}') format('svg')
    font-weight: $weight
    font-style: $style

@mixin font-family($name: 'Regular', $family: false)
  $weight: normal
  $style: normal

  @if $name == 'UltraLightIt'
    $weight: 200
    $style: italic
  @else if $name == 'Bold'
    $weight: bold
    $style: normal
  @else if $name == 'BoldItalic'
    $weight: bold
    $style: italic
  @else if $name == 'Demi'
    $weight: 600
    $style: normal
  @else if $name == 'DemiItalic'
    $weight: 600
    $style: italic
  @else if $name == 'Heavy'
    $weight: 800
    $style: normal
  @else if $name == 'HeavyItalic'
    $weight: 800
    $style: italic
  @else if $name == 'Italic'
    $weight: normal
    $style: italic
  @else if $name == 'Light'
    $weight: 300
    $style: normal
  @else if $name == 'LightItalic'
    $weight: 300
    $style: italic
  @else if $name == 'Medium'
    $weight: 500
    $style: normal
  @else if $name == 'MediumItalic'
    $weight: 500
    $style: italic
  @else if $name == 'Regular'
    $weight: normal
    $style: normal
  @else if $name == 'Thin'
    $weight: 275
    $style: normal
  @else if $name == 'ThinItalic'
    $weight: 275
    $style: italic
  @else if $name == 'UltraLight'
    $weight: 200
    $style: normal
  @else if $name == 'UltraLightIt'
    $weight: 200
    $style: italic

  @if $family
    font-family: AvenirNextCyr !important
  font-weight: $weight !important
  font-style: $style !important

@mixin placeholder-color($color: $color-monochrome-7)
  &::-webkit-input-placeholder
    color: $color
  &::-moz-placeholder
    color: $color
  &:-moz-placeholder
    color: $color
  &:-ms-input-placeholder
    color: $color