@import "dependencies"

.h1,
.h2,
.h3,
.h4,
.h5,
.h6
  margin: 0
  padding: 0

.h1
  font-size: 48px
  line-height: 1em * (60px / 48px)
  @include font-family('Demi')
  @media #{$md}
    font-size: 36px
  @media #{$sm}
    font-size: 36px
  @media #{$xs}
    font-size: 18px

.h2
  font-size: 32px
  line-height: 1.2em
  @include font-family('Bold')

.h3
  font-size: 16px
  line-height: 1em * (24px / 16px)
  @include font-family('Bold')

.h4
  font-size: 12px
  line-height: 1.1em
  @include font-family('Medium')

.h5
  font-size: 11px
  line-height: 2em
  @include font-family('Bold')


p,
.p
  font-size: 16px
  line-height: 1em * 24px / 16px
  @include font-family('Medium')
  margin-bottom: 20px
  small
    font-size: 12px

a
  color: $color-blue-111
  &:hover
    color: $color-blue-111
