<template>
    <div>
        <div class="form-group">
            <div class="col-md-2">
                <label class="control-label">Имя тега</label>
            </div>
            <div class="col-md-10">
                <input class="form-control" v-model="name" type="text">
            </div>
        </div>
        <div class="form-group">
            <input value="Сохранить" @click="store" type="button" class="bnt btn-primary">
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component ready.')
        },
        data: function(){
            return {
                name: ''
            }
        },
        methods: {
            store: function(){
                this.$http.post('/api/backend/tag/storeAjax', {
                    name: this.name
                }).then(function(resp){
                    if (resp.ok) {
                        $('body').trigger('tag_created', resp.data);
                        this.name = '';
                    } else {
                        $('body').trigger('tag_creation_error', resp);
                    }
                }, function(err){
                    $('body').trigger('tag_creation_error', err);
                });
            }
        }
    }
</script>
